@import "flex-grid.css";
@import "auth.css";
@import "katalog.css";

body {
    margin: 0;
}

 ширина от 992px до 1200*
@media screen and (min-width: 992px) and (max-width: 1200px){
    body {
        margin: 0;
    }
}

/* ширина от 768px до 991px */ /* 920px */
@media screen and (min-width: 768px) and (max-width: 991px){
    body {
        margin: 0;
    }
}

/* ширина от 600 до 767px */
@media screen and (min-width: 600px) and (max-width: 767px){
    body {
        margin: 0;
    }
}

/* ширина до 599px */
@media screen and (max-width: 480px){  
    body {
        margin: 0;
    }
}


.logo {
    position: absolute;
    margin: auto;
    width: 9%;
    height: 9%;
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 1%;
  }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    font-size: medium;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    gap: 5%;     
}

#menu a {
    color: rgb(2, 94, 161);
    text-decoration: none;
    padding: 1%;  
    border-radius: 5px;     
}

#menu a:hover {
    color: white;  
    background-color: rgb(2, 94, 161);  
}

.fon {    
    display: flex;
    height: 270px;
    background-image: url(../img/fon.jpg); 
    background-attachment: fixed;
    background-repeat: no-repeat;   
}

.fon p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41%;
    height: 15%;
    margin-left: 1%;
    padding: 1%;   
    background-color: rgba(46, 45, 45, 0.521);
    border-radius: 5px;  
    color:whitesmoke;   
    font-size: medium;
    font-style: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.category p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    color: rgb(2, 94, 161);
    font-size: medium;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.buttoms {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
    color: rgb(2, 94, 161);
    font-size: medium;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.buttoms a {
    color: rgb(2, 94, 161);
    text-decoration: none;    
}

img {
    width: 65%;
    height: auto;
    object-fit: cover;
}


.container_sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white; 
    padding: 2%;
    font-size: medium;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    gap: 5%;  
}

.top a {
    display: flex;
    justify-content: center;    
    align-items: flex-end;
    margin: 10px;
    background-color: white; 
    text-decoration: none;    
    padding: 10px; 
    color: rgb(2, 94, 161);
    border: 1px solid rgb(2, 94, 161);  
    border-radius: 10px; 
    font-size: medium;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#top a:hover {   
    color: white;  
    background-color: rgb(2, 94, 161);    
}

.it {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 94, 161); 
    color:white;
    padding: 1%;  
    font-size: medium;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
}

